[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
autopep8 = "*"
requests = "*"
mecab = "*"
mecab-python3 = "*"
matplotlib = "*"
pyfpgrowth = "*"
pydotplus = "*"
nltk = "*"
spacy = "*"
sklearn = "*"
pandas = "*"
seaborn = "*"
gensim = "*"
bhtsne = "*"

[requires]
python_version = "3.7"
